
AVAGADRO FILE/
All_pdfs
Atom.lnk
CHEME_600/
CV_Varun_word.docx
DSMCER/
Deedy Resume/
Direct Capstone/
Documents - Shortcut.lnk
Dragon_descriptors.xlsx
Dropbox.lnk
ELA/
Elements of Statistical Learning.pdf
ISLR Seventh Printing.pdf
Keras/.ipynb_checkpoints/
Keras/LICENSE
Keras/LSTM_RNN.ipynb
Keras/MLP_time_series_prediction.ipynb
Keras/README.md
Keras/boston house prices-regression, tensorflow.ipynb
Keras/cifar10_keras_classification.ipynb
Keras/imdb_keras.ipynb
Keras/international-airline-passengers.csv
Keras/ionosphere.csv
Keras/iris.csv
Keras/mlp, cnns for mnist.ipynb
Keras/neural network with pima indian diabetes dataset.ipynb
Keras/pima-indians-diabetes.data.txt
Keras/rough work.ipynb
Keras/sonar.csv
Latex_Practise/
MS presentation.pptx
PYTHON-COURSERA.pdf
Pictures of MS Project/
QSARdata.pdf
Random Files/
Resume_Sai Varun.docx
SEDS/
SOP_4000.docx
Sales 2016.xlsx
Slack.lnk
Tensorflow/
Transcript.pdf
UWUnofficialTranscript.pdf
VM/
WhatsApp Image 2018-02-13 at 10.14.46 PM(1).jpeg
WhatsApp Image 2018-02-13 at 10.14.46 PM.jpeg
WhatsApp.lnk
advisor list.docx
capstone1/
datasets/
deep_learning_with_python.pdf
desktop.ini
        ../github_demo/
        ../insurance/
        ../latex practise 2/
        ../matlab installation/
        ../notes on ARP/
        ../numerical methods_homework/
        ../planets/
        ../python_notes/
        ../random/
        ../rough_wk/
        ../spark/
        ../to do for ppt.txt
        ../~$Exploration of Machine Learning models on QSAR.pptx
        ../~$MS presentation.pptx
        ../~$ot Summary.docx
        ../~$run resume-New.docx
        ../~$sume_Sai Varun.docx
        ../~$temaking.docx
        ../~WRL3719.tmp

