<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/sva_profile_pic.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Sai Varun Aduru</a></h1>
            <p> Chemical Engineer <br />
                | SUEZ WTS | General Electric<br />
                 University of Washingon</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">About Me </a></li>
                <li><a href="{{ site.baseurl }}/contact">Research Experience</a></li>
                <li><a href="{{ site.baseurl }}/blog">Academic Projects</a></li>
                <!-- <li><a href="{{ site.baseurl }}/contact">Papers</a></li>
                <li><a href="{{ site.baseurl }}/">Awards</a></li>-->
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                <li><a href="https://github.com/asVarun16" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="saivarunaduru@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

