<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/SVA_headshot.jpeg" alt="pic" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Sai Varun Aduru</a></h1>
            <p> PhD student, University of Rochester <br />
                </p>  
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">About Me </a></li>
                <li><a href="{{ site.baseurl }}/Work_Experience">Work Experience</a></li>
				<li><a href="{{ site.baseurl }}/education">Education</a></li>
                <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
                <li><a href="{{ site.baseurl }}/CV">CV</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>                
                <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                <li><a href="https://github.com/saivarunaduru" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="saivarunaduru@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

